<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h1 style="text-align: center">Courses List</h1>
    <h2 th:if="${hasError}" th:text="${errorMessage}"></h2>
</header>
<form th:action="@{/courses}" th:method="GET">
    <label for="type">Select type to filter</label>
    <select name="type" id="type">
        <option th:if="${types}"
                th:each="type : ${types}"
                th:text="${type.name()}"
                th:value="${type}"></option>
    </select>
    <input type="submit" value="Submit">
</form>
<form th:action="@{/courses}" th:method="GET">
    <label for="filter"></label>
    <input type="text" name="filter" id="filter">
    <input type="submit" value="Submit">
</form>
<form th:action="@{/courses}" th:method="POST">
    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${listCourses}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Course name</th>
                            <th scope="col">Teacher</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="course : ${listCourses}">
                            <td><input name="courseId" type="radio" th:text="${course.getName()}" th:value="${course.getCourseId()}"></td>
                            <td th:text="${course.getTeacher() != null} ? ${course.getTeacher().getTeacherFullName().getName()} + ' ' + ${course.getTeacher().getTeacherFullName().getSurname()} : 'Teacher not selected'"></td>
                            <td class="text-right">
                                <a th:href="@{'/courses/delete/{id}' (id=${course.getCourseId()})}" type="" class="btn btn-sm btn-danger"><i class="fa fa-trash">Delete</i></a>
                                <a th:href="@{'/courses/edit/{id}' (id=${course.getCourseId()})}" class="btn btn-sm btn-info"><i class="fa fa-trash">Edit</i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <input type="submit" th:value="Submit" class="btn btn-block btn-dark">
                        <a th:href="@{/courses/add}" class="btn btn-block btn-dark">Add new course</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>